/*!
File Name: styles.css
Original Creator: Kim To
Contact Information: ICE-support@niehs.nih.gov
Date Created: 2023-01-03
License: MIT
Version: 1.0
Description: custom style sheet
*/

:root {
  --darkblue: #232b5f;
  --midblue: #919bb5;
  --lightblue: #dae6ee;
  --darkgreen: #234510;
  --midgreen: #527f24;
  --lightgreen: #a7c489
}

/* GENERAL */
* {
  font-family: 'Source Sans Pro',Arial,Helvetica,sans-serif;
}

body {
  background-color: white;
  color:black;
}

a {
  color:#3E5A8E;
}

a:focus, a:hover {
  color:#3E5A8E;
  text-decoration: underline;
}

h1 {
  margin: 0;
  font-weight: bold;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

#selectcol_ui .col_assay_endpoint {
  margin-left: 25px;
  margin-bottom: 1.25em;
}

.external-link::after {
  font-family: FontAwesome;
  content: "\00A0\f08e";
  font-size: x-small;
}

legend {
  margin-bottom: 0;
}

fieldset label {
  font-weight: normal;
}

label.disabled {
  color: #595959;
}

/* https://css-tricks.com/inclusively-hidden/ */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* Header */
.header-row {
  margin: 2rem 0;
  display: flex;
}

.title-panel {
  background-color: var(--darkblue);
  text-align: center;
  color: white;
  border-radius: 10px 0 0 10px;
  padding: 1em 1em;
  flex: 1 1 40%;
}

.details-panel {
  background-color: var(--lightblue);
  color: black;
  border-radius: 0 10px 10px 0;
  padding: 1em 3em;
  flex: 1 1 60%;
  display: flex;
  align-items: center;
}

.nav-tabs li.disabled {
  pointer-events: none;
  font-weight: normal;
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}


/* TABS */
.nav-tabs {
  border-bottom: 0;
  display: flex;
}

/* Basic */
.nav-tabs li {
  flex: 1;
  border-radius: 0 !important;
  display: inline-block;
  position: relative;
  margin:0 1.5em ;
  height:4em;
  background-color: var(--lightblue);
  font-weight: bold;
}

.nav-tabs li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  line-height: 1em;
  border: none !important;
  color: black;
  background-color: transparent !important;
  padding: 0;
  text-align: center;
}

.nav-tabs li:before,
.nav-tabs li:after {
  position: absolute;
  content:"";
  top:0;
  width:0;
  height:0;
}

.nav-tabs li:after {
  left:100%;
  border: 2em solid transparent;
  border-left-color: var(--lightblue);
}
.nav-tabs li:before {
  right:calc(100% - 2em);
  border: 2em solid  var(--lightblue);
  border-left-color:transparent;
}

.nav-tabs li.active {
  background-color: var(--darkblue);
}

.nav-tabs li.active a,
.nav-tabs li.active a:focus {
  color: white;
  font-weight: bold;
}

.nav-tabs li.active:after {
  border-left-color: var(--darkblue);
}

.nav-tabs li.active:before {
  border-color: var(--darkblue);
  border-left-color:transparent;
}

/* Hover */
.nav-tabs li:hover {
  background-color: var(--midblue);
}

.nav-tabs li:hover a {
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
}

.nav-tabs li:hover:after {
  border: 2em solid transparent;
  border-left-color: var(--midblue);
}
.nav-tabs li:hover:before {
  /*right:calc(100% - 2em);*/
  border: 2em solid  var(--midblue);
  border-left-color:transparent;
}

.nav-tabs li.active:hover a {
  color: black;
  cursor: pointer;
}

/* BUTTONS */
.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:visited,
.btn-default:focus,
.btn-default:active:hover,
.btn-default:active:focus{
  color: white;
  font-weight:700;
  border: 1px solid #234510;
  border-radius:8px;
}

.btn-default,
.btn-default:visited {
  background-color:#527f24;
  /*box-shadow: 2px 2px 4px #234510;*/
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default:active:hover,
.btn-default:active:focus {
  background-color:#234510;
  text-decoration: underline;
}

.btn-qs {
    color:#527f24;
    padding:0px;
    border-color:transparent;
    background-color:transparent;
  }

.btn-qs:focus, .btn-qs:hover {
  color:#234510;
  background-color:transparent;
  border-color:transparent;
}

.link-list .btn-default {
  white-space: normal;
}

#dt_results .dt-buttons button.dt-button {
  background-color: var(--midgreen);
  background-image: none;
  color: white;
  font-size: 1em;
}

#dt_results .dt-buttons button.dt-button:hover,
#dt_results .dt-buttons button.dt-button:active,
#dt_results .dt-buttons button.dt-button:focus {
  background-color: var(--darkgreen);
  background-image: none;
}

#dt_results .buttons-columnVisibility.active::before {
  font-family: FontAwesome;
  content: "\f00c";
  font-size: large;
  padding: 0 0.5em 0 0;
}

#dt_results .dt-buttons button.buttons-columnVisibility {
  background-color: #9c9c9c;
  background-image: none;
  color: black;
  text-align: left;
}

#dt_results .dt-buttons button.buttons-columnVisibility.active {
  background-color: var(--darkblue);
  color: white;
}

#dt_results .dt-buttons button.buttons-columnVisibility:hover,
#dt_results .dt-buttons button.buttons-columnVisibility:focus,
#dt_results .dt-buttons button.buttons-columnVisibility:active {
  background-color: var(--midblue) !important;
  color: black;
  background-image: none !important;
}

/* CONTAINERS */
.bordered-panel {
  margin: 1em 0;
  padding: 2em;
  border-radius: 10px;
  border: 2px solid var(--darkblue);
}

.warn-block {
  border:1px solid #e0d2b5;
  border-radius:10px;
  background-color:#fff1d4;
  padding:1vh;
  display:flex;
  align-items:center;
}

.glyphicon-exclamation-sign {
  color:#232b5f;
  font-size:3vh;
  padding:1vh;
}

.text-block {
  border:1px solid #c8d7e3;
  border-radius:10px;
  background-color:#dae6ee;
  align-items:center;
  padding:1rem;
  margin:1em;
}


/* DROPDOWNS */
#dlDropdown {
  margin-bottom: 1em;  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
    min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

      
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
    
/* INPUT */
.control-label {
  white-space:nowrap;
}

/* MODALS */
.da-diagram {
  max-width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: block;
  margin: auto;
}

#xl_select_modal .modal-header, #xl_select_modal .modal-footer,
#confirm_run_with_flag .modal-header, #confirm_run_with_flag .modal-footer{
    display:none;
}

/*TABLES*/
.datatables thead {
  background-color: #232b5f;
    color: white;
}

.odd {
  background-color: #f0f0f0;
}

.warningText {
  font-weight: bold;
  color: #C25400;
}

/* descriptions */
dd {
  margin-left: 5%;
}

dt{
  margin-left: 2%;
}

.defTab {
  margin: auto;
}

.defTab th,
.defTab td {
  padding: 4px 8px;
  font-size: 0.75em;
}

.defTab th {
  text-align: center;
}

/* PANELS */
.panel-default .panel-heading {
  background-color: var(--darkblue);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
}

.panel-default .panel-heading a {
  color: white;
  flex: 1 1 0;
}

.panel-default .panel-heading:not(:has(a.collapsed)):before {
  content: "\25BE";
}

.panel-default .panel-heading:has(a.collapsed):before {
    content: "\25B8";

}

.panel-body {
  padding: 2em;
}

.panel-default {
  margin-top: 20px;
  border: 1px solid var(--darkblue);
}

.selectionRow .form-group{
  display: inline-block;
  margin-bottom: 0;
}

details summary {
  background-color: var(--lightblue);
  font-size: 1.2em;
  font-weight: bold;
  padding: 4px 2px;
  border-radius: 8px;
  margin: 0.5em 0;
}

details summary:hover {
  cursor: pointer; 
    background-color: var(--midblue);
} 

details[open] summary:before {
  content: "\25BE";
}

details summary:before {
  content: "\25B8";
}

.detailsBody {
  padding: 0 2em;
}